[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=Auto_login
Exec= python3 ~/location of file/login.py
Comment=Automatic Captive Portal login
Icon=~location/icon.png
Name[en]=Auto_login
