[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name=Auto_login
Exec= python3 /path/to/login.py
Comment=Automatic Captive Portal login
Icon=/path/to/icon.png
Name[en]=Auto_login
